<!-- Modal Structure -->
<div id="deleteModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Are You Sure?</h4>
    <p>Deleting an item cannot be undone. Are you sure you would like to proceed?</p>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat closeModal" type="button" name="button">No Thanks</button>
    <a id="deleteTarget" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Delete</a>
  </div>
</div>
