<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <form class="" action="/new-room" method="post">
  <div class="modal-content">
    <h6>Add New Room</h6>
      <input type="text" name="name" value="">
  </div>
  <div class="modal-footer">
    <button type="button" name="button" class="modal-action modal-close waves-effect waves-green btn-flat">Nevermind</button>
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Add Room</button>
  </div>
  </form>
</div>
