h1 {
  color: green;
}

nav {
  box-shadow: none;
}

html body {
  overflow-x: hidden;
}

.height-window {
  min-height: 100vh;
}

/* FLEXBOX LAYOUT */

.d-flex {
  display: flex;
}

.d-flex .col {
  flex-grow: 1;
}

/* HELPERS */

.m0 {
  margin: 0;
}

.fixed {
  position: fixed;
}

.item-list-header.fixed {
  width: 100%;
}

/*TABLE LAYOUT*/

.table {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
  padding: 0;
}

.cell.main {
  width: 75%;
}

.cell.sidebar {
  width: 25%
}

@media (max-width: 650px) {
  .cell.sidebar {
    display: none;
  }

 }

.sticky {
  position: sticky;
  top: 0;
}

/* ITEM TABLE*/

.item-list-header {
  margin-bottom: 0;
  z-index: 2;
  align-items: center;
}

.item-list-header.active {
  background: #f5f5f5;
}

.collapsible {
  border: none;
  box-shadow: none;
}

.collapsible-header:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.item-body {
  min-height: 85vh;
}

.item-list__menu .title {
  font-size: 2rem;
}


.item-title {
  color: blue;
  flex-grow: 3;
}

.item-quantity {
  color: green;
  flex-grow: 1;
}

.item-image-container {
  padding: 5px;
  overflow: hidden;
  max-width: 100%;
}

.item-full-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3rem;
}

.item-thumbnail-image {
  max-height: 100%;
  max-width: 100%;
}

.item-full-image img {
  max-height: 350px;
  margin: auto;
}

.item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem;
}

.item-buttons a, button {
  margin-right: 1rem;
}
