h1 {
  font-size: 3rem;
}

nav {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.indicator-item {
  border: 2px solid rgb(255, 188, 116);
  background: white;
  width: 12px !important;
  height: 12px !important;
  background-color: rgb(255,188,116) !important;
}

.indicator-item.active {
  background-color: white !important;
}

.money-text {
  color: green;
  font-size: 2rem;
  display: inline-block;
  border: 3px solid green;
  padding: .2rem 0.8rem;
  margin: 0;
}

.box-link {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}



.text-shadow {
  text-shadow: 2px 3px 5px rgba(2, 2, 2, 0.2);
}

.parallax-container {
  background: rgba(0, 0, 0, 0.15);
}

html body {
  overflow-x: hidden;
}

.height-window {
  min-height: 100vh;
}

/* FLEXBOX LAYOUT */

.d-flex {
  display: flex;
}

.d-flex .col {
  flex-grow: 1;
}

/* HELPERS */

.m0 {
  margin: 0;
}

.fixed {
  position: fixed;
}

.item-list-header.fixed {
  width: 100%;
}

/*TABLE LAYOUT*/

.table {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
  padding: 0;
}

.cell.main {
  width: 75%;
}

.cell.sidebar {
  width: 25%
}

.sidebar-item {
    margin-bottom: 0;
    padding: .5rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.sidebar-item:hover {
    box-shadow: 0px 1px 3px rgba(110, 110, 110, 0.44);
    cursor: pointer;
    background: #ddd;
}

.sidebar-item:hover div div i {
  transform: rotate(360deg);
  transition: 600ms ease-out;
}

@media (max-width: 650px) {

    .cell.sidebar {
      position: fixed;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: row;
      left: 0;
      z-index: 99;
    }
    .cell.sidebar .sticky {
      display: flex;
      width: 100%;
    }
    .cell.main {
      width: 100%;
      display: block;
    }
}

.sticky {
  position: sticky;
  top: 0;
}

/* ITEM TABLE*/

.item-list-header {
  margin-bottom: 0;
  z-index: 2;
  align-items: center;
}

.item-list-header.active {
  background: #f5f5f5;
}

.collapsible {
  border: none;
  box-shadow: none;
}

.collapsible-header:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.item-body {
  min-height: 85vh;
}

.item-list__menu .title {
  font-size: 2rem;
}


.item-title {
  color: blue;
  flex-grow: 3;
}

.item-quantity {
  color: green;
  flex-grow: 1;
}

.item-image-container {
  padding: 5px;
  overflow: hidden;
  max-width: 100%;
}

.image-container {
  border: 1rem solid white;
}

.item-full-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3rem;
}

.item-thumbnail-image {
  max-height: 100%;
  max-width: 100%;
}

.item-full-image img {
  max-height: 350px;
  margin: auto;
}

.item-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0;
}

.item-buttons a, button {
  margin-right: 1rem;
}
