{% extends "base.html" %}
<!-- ###################################################################### -->
<!--                                 HEAD                                   -->

{% block head %}
{{ super() }}

{% endblock%}

<!-- ###################################################################### -->
<!--                                 HEADER                                 -->
{% block header%}
{{ super() }}

{% endblock %}

<!-- ###################################################################### -->
<!--                                 BODY                                   -->

{% block body %}
<h1>HOME PAGE VIEW</h1>
{% endblock%}

<!-- ###################################################################### -->
<!--                                 ENDTEMPLATE                            -->
