{% extends "base.html" %}
<!-- ###################################################################### -->
<!--                                 HEAD                                   -->

{% block head %}
{{ super() }}

{% endblock%}

<!-- ###################################################################### -->
<!--                                 HEADER                                 -->
{% block header%}
{{ super() }}

{% endblock %}

<!-- ###################################################################### -->
<!--                                 BODY                                   -->

{% block body %}
<div class="container-fluid">
  <div class="table height-window">
  <div class="cell main">
    <!-- FLOATING HEADER -->
    <div class="row sticky grey lighten-3 collapsible-header item-list-header" id="item-list-header">
      <div class="col s3">Name <span id="itemNameHead"></span></div>
      <div class="col s3">Room <span id="itemRoomHead"></span></div>
      <div class="col s3">Quantity <span id="itemQuantityHead"></span></div>
      <div class="col s3">Image</div>
    </div>
    <ul class="collapsible m0" data-collapsible="accordion">
     {% for item in items %}
     <li class="list-item" id="{{item._id}}">
       <div class="collapsible-header row item-list-header" data-id="{{item._id}}" data-scroll="{{item._id}}">
         <div class="col s3 itemName">{{item.name}}</div>
         <div class="col s3 itemRoom">{{item.amazonified}}</div>
         <div class="col s3 itemQuant">{{item.quantity}}</div>
         <div class="col s3 item-image-container">
           <img height="40" class="" src="https://s3.us-east-1.amazonaws.com/uploads.hiapp.io/{{item.photo}}" alt="">
         </div>
       </div>
       <div class="collapsible-body item-body">
           <div class="row">
             <div class="col s12 m6">
                <table class="bordered">
                  <tbody>
                    <tr>
                      <td>_Id: </td>
                      <td>{{item._id}}</td>
                    </tr>
                    <tr>
                      <td>Dimensions: </td>
                      <td>{{item.length}}" x {{item.width}}" x {{item.height}}""</td>
                    </tr>
                    <tr>
                      <td>Age:</td>
                      <td>{{item.age}}</td>
                    </tr>

                    <tr>
                      <td>Store: </td>
                      <td>{{item.store}}</td>
                    </tr>
                    <tr>
                      <td>Brand: </td>
                      <td>{{item.brand}}</td>
                    </tr>
                    <tr>
                      <td>Model: </td>
                      <td>{{item.model}}</td>
                    </tr>
                    <tr>
                      <td>Serial: </td>
                      <td>{{item.serial}}</td>
                    </tr>
                    <tr>
                      <td>Price: </td>
                      <td>${{item.cost}}</td>
                    </tr>
                  </tbody>
                </table>
             </div>
             <div class="col s12 m6 item-full-image">
               <div class="image-container z-depth-1">
                <img class="responsive-img" src="https://s3.us-east-1.amazonaws.com/uploads.hiapp.io/{{item.photo}}" alt="">
               </div>
               <div class="item-buttons">
                 <a href="/items/{{item._id}}" class="waves-effect waves-light btn">edit</a>
                 <button data-id="{{item._id}}" class="waves-effect waves-light btn deleteModal">delete</button>
              </div>
              <div class="item-buttons">
                {% if item.amazonified %}
                <ul>
                  <li><a href="{{item.amazonData.url}}">View On Amazon</a></li>
                  <li>ASIN:{{item.amazonData.asin}}</li>
                  <li>Brand: {{item.amazonData.brand}}</li>
                  <li>Dimensions: {{item.amazonData.length}}" x {{item.amazonData.width}}" x {{item.amazonData.height}}"</li>
                  <li>Manufacturer: {{item.amazonData.manufacturer}}</li>
                  <li>Model: {{item.amazonData.model}}</li>
                  <li>Price: {{item.amazonData.upc}}</li>
                  <li>Cost: {{item.amazonData.cost}}</li>
                  <li><a href="/amazon/{{item._id}}" role="button" class="waves-effect waves-light yellow btn amber lighten-1"name="">Update Item</a></li>
                </ul>
                {% else %}
                <form class="" action="/amazon" method="post">
                  <input type="hidden" name="_id" value="{{item._id}}">
                  <input type="hidden" name="keywords" value="{{item.name}} {{item.model}} {{item.serial}}">
                  <input type="hidden" name="brand" value="{{item.brand}}">
                  <input type="hidden" name="condition" value="new">
                  <button class="waves-effect waves-light yellow btn amber lighten-1"name="">Amazonify</button>
                </form>
                {% endif %}
              </div>
             </div>
           </div>
        </div>
     </li>
     {% else %}
     <div class="">
       <h3>No Items Yet.</h3>
       <a href="/new-item">Add an Item</a>
     </div>
     {% endfor %}
   </ul>
  </div>
  <div class="cell sidebar grey lighten-3 z-depth-1">
    <div class="sticky">
      <a href="/new-item" class="box-link waves-effect waves-light">
        <div class="row valign-wrapper sidebar-item">
          <div class="col s12 m8 hide-on-small-only	">
            Add an Item
          </div>
          <div class="col s12 m4">
            <div class="waves-effect waves-circle waves-light btn-floating secondary-content">
              <i class="material-icons center-align">add</i>
            </div>
          </div>
        </div>
      </a>
      <a href="/dashboard" class="box-link waves-effect waves-light">
        <div class="row valign-wrapper sidebar-item">
          <div class="col s12 m8 hide-on-small-only">
            Dashboard
          </div>
          <div class="col s12 m4">
            <div class="waves-effect waves-circle waves-light btn-floating secondary-content">
              <i class="material-icons center-align">dashboard</i>
            </div>
          </div>
        </div>
      </a>
      <a href="/profile" class="box-link waves-effect waves-light">
        <div class="row valign-wrapper sidebar-item">
          <div class="col s12 m8 hide-on-small-only	">
            Profile
          </div>
          <div class="col s12 m4">
            <div class="waves-effect waves-circle waves-light btn-floating secondary-content">
              <i class="material-icons center-align">account_circle</i>
          </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
{% include 'components/delete-modal.html'%}
{% endblock%}

<!-- ###################################################################### -->
<!--                                 ENDTEMPLATE                            -->
