{% extends "base.html" %}
<!-- ###################################################################### -->
<!--                                 HEAD                                   -->

{% block head %}
{{ super() }}

{% endblock%}

<!-- ###################################################################### -->
<!--                                 HEADER                                 -->
{% block header%}
{{ super() }}

{% endblock %}

<!-- ###################################################################### -->
<!--                                 BODY                                   -->

{% block body %}
<div class="section">
  {% include 'components/item-form.html'%}
</div>
{% endblock%}

<!-- ###################################################################### -->
<!--                                 ENDTEMPLATE                            -->
