{% extends "base.html" %}
<!-- ###################################################################### -->
<!--                                 HEAD                                   -->

{% block head %}
{{ super() }}

{% endblock%}

<!-- ###################################################################### -->
<!--                                 HEADER                                 -->
{% block header%}
{{ super() }}

{% endblock %}

<!-- ###################################################################### -->
<!--                                 BODY                                   -->

{% block body %}

<div class="table height-window">
  <div class="cell sidebar">
    <div class="container pt5">
    {% include 'components/login.html'%}
    </div>
  </div>
  <div class="cell main" style="background-image:url('https://s3.amazonaws.com/uploads.hiapp.io/living-room-2732939_1280.jpg')">

  </div>

</div>


{% endblock%}

<!-- ###################################################################### -->
<!--                                 ENDTEMPLATE                            -->
